/* Hero Section Styling */
.vertis-group-hero-section {
    display: flex;
    align-items: center;
    height: 50vh;
    background: radial-gradient(115.75% 149.81% at 100% -74.49%, #1CE783 0%, #003534 100%), var(--Colours-Background-bg-primary, #FFF);
    color: white;
    text-align: left;
    padding-left: 50px;
}

.vertis-group-hero-section .hero-content {
    max-width: 900px;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.vertis-group-hero-section .hero-content h1 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 0.9;
    margin-bottom: 20px;
}

.vertis-group-hero-section .hero-content p {
    font-size: 5rem;
    font-weight: 400;
}

/* Media query for tablet and mobile views */
@media (max-width: 991px) {
    .vertis-group-hero-section {
        padding-left: 20px;
    }

    .vertis-group-hero-section .hero-content h1 {
        font-size: 3.5rem;
        font-weight: bold;
        line-height: 0.9;
        margin-bottom: 20px;
    }
}

.metric-label {
    font-size: 1rem;
    font-weight: 400;
    color: #666;
}

.display-4 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.row.text-left .col-md-4::before {
    content: "";
    display: block;
    height: 1px;
    background-color: #eaeaea;
    width: 100%;
    margin: 20px auto;
}

/*Vertis Group */
.vertis-group .tile {
    position: relative;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 0px;
    background: linear-gradient(90deg, #003534, #003534);
    color: white;
    overflow: hidden;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    .card-text {
        display: none;
        color: var(--Colours-Text-text-placeholder, #C1C1C1);
        font-family: var(--font-family-title, "Bricolage Grotesque");
        font-size: var(--font-size-H6, 16px);
        font-style: normal;
        font-weight: 400;
        line-height: var(--font-line-height-H6, 28px);
        letter-spacing: 0.8px;
    }

}

.vertis-group .tile-icon {
    text-align: right;
    width: 100%;
}

.vertis-group .tile-icon a,
.vertis-group .tile-icon img {
    display: inline-block;
}

.tile:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

    .card-text {
        display: block;
    }
}

/* Tile 1 hover gradient */
.tile-1:hover {
    background: linear-gradient(60deg, #003534, 80%, #7F6EF6);
}

/* Tile 2 hover gradient */
.tile-2:hover {
    background: linear-gradient(60deg, #003534, 80%, #7F6EF6);
}

/* Tile 3 hover gradient */
.tile-3:hover {
    background: linear-gradient(60deg, #003534, 80%, #7F6EF6);
}

/* Tile 4 hover gradient */
.tile-4:hover {
    background: linear-gradient(60deg, #003534, 80%, #7F6EF6);
}

@media (max-width: 1024px) {

    /* Tile 1 hover gradient for mobile/tablet */
    .tile-1,
    .tile-1:hover {
        background: linear-gradient(60deg, #003534, 80%, #7F6EF6);
    }

    /* Tile 2 hover gradient for mobile/tablet */
    .tile-2,
    .tile-2:hover {
        background: linear-gradient(60deg, #003534, 80%, #FF594A);
    }

    /* Tile 3 hover gradient for mobile/tablet */
    .tile-3,
    .tile-3:hover {
        background: linear-gradient(60deg, #003534, 80%, #23C0D8);
    }

    /* Tile 4 hover gradient for mobile/tablet */
    .tile-4,
    .tile-4:hover {
        background: linear-gradient(60deg, #003534, 80%, #FFB846);
    }

    .tile-description {
        display: none;
    }

    .tile:hover .tile-description {
        display: none;
    }
}

.tile-content {
    z-index: 1;
    position: relative;
}

.vertis-group .tile-number {
    color: var(--Colours-Text-text-white, #FFF);
    font-family: var(--font-family-body, Inter);
    font-size: var(--font-size-P1, 16px);
    font-style: normal;
    font-weight: 700;
    line-height: var(--font-line-height-P1, 24px);
    letter-spacing: 0.32px;
    padding: 0;
}

.vertis-group .tile-title {
    color: var(--Colours-Text-text-white, #FFF);
    font-family: var(--font-family-title, "Bricolage Grotesque");
    font-size: var(--font-size-H3, 32px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--font-line-height-H3, 40px);
    margin-bottom: 15px;
    padding: 0;
    width: 90%;
}

.tile-description {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, max-height 0.3s ease;
    font-size: 1rem;
    margin-top: 15px;
}

.tile:hover .tile-description {
    opacity: 1;
    max-height: 200px;
}

.tile-link {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 1.5rem;
    color: white;
    z-index: 2;
    transition: color 0.3s ease;
}

.tile-link:hover {
    color: #ffffff;
}

@media (min-width: 768px) and (max-width: 1100px) {
    .vertis-group .tile {
        min-height: 450px;
    }
}