---
meta:
lang: en
title: Career Page
image: "/assets/images/open-graph/teaser.jpeg"
description: Vertis New Website
layout: base
eleventyNavigation:
key: career
---

<!-- Hero Section -->
<section class="py-lg-7">
  <div class="career-hero-section">
    <div class="career-hero-content px-3 px-md-">
      <h1>Be a part of us <span class="highlight-dot">.</span></h1>
      <p style="font-size: 16px;">At Vertis, we believe in pushing boundaries and challenging the status quo. We're
        looking for passionate thinkers, creators, and doers who are ready to make a difference in the digital world.
        Whether you're a designer, developer, strategist, or storyteller, there's a place for you here.</p>
    </div>
  </div>
</section>

<!-- Why vertis section -->
<section class="why-vertis py-5 px-5 px-sm-5">
  <div class="container">
    <div class="row">
      <!-- Left Text Column -->
      <div class="col-md-6">
        <h1 class="mb-4">Why work at Vertis</h1>
        <p class="lead">
          At Vertis, innovation isn’t just a buzzword — it’s at the heart of everything we do. We challenge
          conventions, rethink possibilities, and push boundaries to create meaningful solutions. Our culture fosters
          curiosity, encourages experimentation, and embraces bold ideas. Whether it’s through cutting-edge
          technology, creative problem-solving, or forward-thinking strategies, we empower our teams to drive change
          and make an impact. Here, you won’t just follow trends — you’ll set them.
        </p>
      </div>
      <!-- Right Floating Pill Column -->
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <div class="pill-container">
          <div class="pill mb-4">Innovative Culture</div>
          <div class="pill mb-4">Growth Opportunities</div>
          <div class="pill mb-4">Impactful Work</div>
          <div class="pill">Inclusive Environment</div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Jobs section -->
<section class="explore-jobs py-5 px-5 px-sm-5">
  <div class="container">
    <!-- Search bar and filters -->
    <div class="row mb-5">
      <h3 class="mb-4">Explore our current openings and find the role that’s right for you.</h3>
      <div class="col-md-6 col-12 mb-3 mb-md-0 mt-2">
        <div class="input-group">
          <input type="text" class="form-control-search" placeholder="Search">
          <span class="input-group-text">
            <img src="{{ site.assetPath }}/assets/images/icons/24/Search.svg">
          </span>
        </div>
      </div>

      <div class="d-flex flex-wrap col-md-6 col-12 gap-2">
        <div class="col-md-4 col-4 mb-3">
          <select class="form-select">
            <option selected>All countries</option>
            <option value="1">Singapore</option>
            <option value="2">USA</option>
            <option value="3">UK</option>
          </select>
        </div>

        <div class="col-md-4 col-4 mb-3">
          <select class="form-select">
            <option selected>All roles</option>
            <option value="1">UI/UX Designer</option>
            <option value="2">Frontend Developer</option>
            <option value="3">Backend Developer</option>
          </select>
        </div>

        <div class="col-md-3 col-3 mb-3">
          <div class=" justify-content-center pt-1">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
              <label class="btn btn-outline-primary" for="btnradio1">
                <img src="{{ site.assetPath }}/assets/images/icons/24/listing.svg" alt="list" style="border: 1px solid;
                  border-radius: 10px;
                  padding: 2px;">
              </label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
              <label class="btn btn-outline-primary" for="btnradio3">
                <img src="{{ site.assetPath }}/assets/images/icons/24/card.svg" alt="grid" style="border: 1px solid;
                  border-radius: 10px;
                  padding: 2px;">
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Grid layout -->
    <div>
      <div class="row">
        <div class="col-md-4" style="padding-left: 0px; padding-right: 0px;">
          <div class="job-card">
            <div class="job-title">UI/UX Designer</div>
            <div class="d-flex align-items-center">
              <span class="job-location"><img src="{{ site.assetPath }}/assets/images/icons/24/location.svg"> Singapore</span>
              <span class="job-type"><img src="{{ site.assetPath }}/assets/images/icons/24/time.svg"> Full-time</span>
            </div>
            <div class="job-description">
              You will design intuitive, user-friendly interfaces and experiences that align with our clients' goals.
              From wireframes to high-fidelity prototypes, you'll create visually engaging and functional digital
              products...
            </div>
            <button class="apply-now-btn">
              Apply now <span class="apply-now-btn-icon"><img src="{{ site.assetPath }}/assets/images/icons/24/Arrow Diagonal.svg"></span>
            </button>
          </div>
        </div>
        <div class="col-md-4" style="padding-left: 0px; padding-right: 0px;">
          <div class="job-card">
            <div class="job-title">UI/UX Designer</div>
            <div class="d-flex align-items-center">
              <span class="job-location"><img src="{{ site.assetPath }}/assets/images/icons/24//location.svg"> Singapore</span>
              <span class="job-type"><img src="{{ site.assetPath }}/assets/images/icons/24/time.svg"> Full-time</span>
            </div>
            <div class="job-description">
              You will design intuitive, user-friendly interfaces and experiences that align with our clients' goals.
              From wireframes to high-fidelity prototypes, you'll create visually engaging and functional digital
              products...
            </div>
            <button class="apply-now-btn">
              Apply now <span class="apply-now-btn-icon"><img src="{{ site.assetPath }}/assets/images/icons/24/Arrow Diagonal.svg"></span>
            </button>
          </div>
        </div>

        <div class="col-md-4" style="padding-left: 0px; padding-right: 0px;">
          <div class="job-card">
            <div class="job-title">UI/UX Designer</div>
            <div class="d-flex align-items-center">
              <span class="job-location"><img src="{{ site.assetPath }}/assets/images/icons/24/location.svg"> Singapore</span>
              <span class="job-type"><img src="{{ site.assetPath }}/assets/images/icons/24/time.svg"> Full-time</span>
            </div>
            <div class="job-description">
              You will design intuitive, user-friendly interfaces and experiences that align with our clients' goals.
              From wireframes to high-fidelity prototypes, you'll create visually engaging and functional digital
              products...
            </div>
            <button class="apply-now-btn">
              Apply now <span class="apply-now-btn-icon"><img src="{{ site.assetPath }}/assets/images/icons/24/Arrow Diagonal.svg"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" style="padding-left: 0px; padding-right: 0px;">
          <div class="job-card">
            <div class="job-title">UI/UX Designer</div>
            <div class="d-flex align-items-center">
              <span class="job-location"><img src="{{ site.assetPath }}/assets/images/icons/24/location.svg"> Singapore</span>
              <span class="job-type"><img src="{{ site.assetPath }}/assets/images/icons/24/time.svg"> Full-time</span>
            </div>
            <div class="job-description">
              You will design intuitive, user-friendly interfaces and experiences that align with our clients' goals.
              From wireframes to high-fidelity prototypes, you'll create visually engaging and functional digital
              products...
            </div>
            <button class="apply-now-btn">
              Apply now <span class="apply-now-btn-icon"><img src="{{ site.assetPath }}/assets/images/icons/24/Arrow Diagonal.svg"></span>
            </button>
          </div>
        </div>
        <div class="col-md-4" style="padding-left: 0px; padding-right: 0px;">
          <div class="job-card">
            <div class="job-title">UI/UX Designer</div>
            <div class="d-flex align-items-center">
              <span class="job-location"><img src="{{ site.assetPath }}/assets/images/icons/24/location.svg"> Singapore</span>
              <span class="job-type"><img src="{{ site.assetPath }}/assets/images/icons/24/time.svg"> Full-time</span>
            </div>
            <div class="job-description">
              You will design intuitive, user-friendly interfaces and experiences that align with our clients' goals.
              From wireframes to high-fidelity prototypes, you'll create visually engaging and functional digital
              products...
            </div>
            <button class="apply-now-btn">
              Apply now <span class="apply-now-btn-icon"><img src="{{ site.assetPath }}/assets/images/icons/24/Arrow Diagonal.svg"></span>
            </button>
          </div>
        </div>

        <div class="col-md-4" style="padding-left: 0px; padding-right: 0px;">
          <div class="job-card">
            <div class="job-title">UI/UX Designer</div>
            <div class="d-flex align-items-center">
              <span class="job-location"><img src="{{ site.assetPath }}/assets/images/icons/24/location.svg"> Singapore</span>
              <span class="job-type"><img src="{{ site.assetPath }}/assets/images/icons/24/time.svg"> Full-time</span>
            </div>
            <div class="job-description">
              You will design intuitive, user-friendly interfaces and experiences that align with our clients' goals.
              From wireframes to high-fidelity prototypes, you'll create visually engaging and functional digital
              products...
            </div>
            <button class="apply-now-btn">
              Apply now <span class="apply-now-btn-icon"><img src="{{ site.assetPath }}/assets/images/icons/24/Arrow Diagonal.svg"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" style="padding-left: 0px; padding-right: 0px;">
          <div class="job-card">
            <div class="job-title">UI/UX Designer</div>
            <div class="d-flex align-items-center">
              <span class="job-location"><img src="{{ site.assetPath }}/assets/images/icons/24/location.svg"> Singapore</span>
              <span class="job-type"><img src="{{ site.assetPath }}/assets/images/icons/24/time.svg"> Full-time</span>
            </div>
            <div class="job-description">
              You will design intuitive, user-friendly interfaces and experiences that align with our clients' goals.
              From wireframes to high-fidelity prototypes, you'll create visually engaging and functional digital
              products...
            </div>
            <button class="apply-now-btn">
              Apply now <span class="apply-now-btn-icon"><img src="{{ site.assetPath }}/assets/images/icons/24/Arrow Diagonal.svg"></span>
            </button>
          </div>
        </div>
        <div class="col-md-4" style="padding-left: 0px; padding-right: 0px;">
          <div class="job-card">
            <div class="job-title">UI/UX Designer</div>
            <div class="d-flex align-items-center">
              <span class="job-location"><img src="{{ site.assetPath }}/assets/images/icons/24/location.svg"> Singapore</span>
              <span class="job-type"><img src="{{ site.assetPath }}/assets/images/icons/24/time.svg"> Full-time</span>
            </div>
            <div class="job-description">
              You will design intuitive, user-friendly interfaces and experiences that align with our clients' goals.
              From wireframes to high-fidelity prototypes, you'll create visually engaging and functional digital
              products...
            </div>
            <button class="apply-now-btn">
              Apply now <span class="apply-now-btn-icon"><img src="{{ site.assetPath }}/assets/images/icons/24/Arrow Diagonal.svg"></span>
            </button>
          </div>
        </div>

        <div class="col-md-4" style="padding-left: 0px; padding-right: 0px;">
          <div class="job-card">
            <div class="job-title">UI/UX Designer</div>
            <div class="d-flex align-items-center">
              <span class="job-location"><img src="{{ site.assetPath }}/assets/images/icons/24/location.svg"> Singapore</span>
              <span class="job-type"><img src="{{ site.assetPath }}/assets/images/icons/24/time.svg"> Full-time</span>
            </div>
            <div class="job-description">
              You will design intuitive, user-friendly interfaces and experiences that align with our clients' goals.
              From wireframes to high-fidelity prototypes, you'll create visually engaging and functional digital
              products...
            </div>
            <button class="apply-now-btn">
              Apply now <span class="apply-now-btn-icon"><img src="{{ site.assetPath }}/assets/images/icons/24/Arrow Diagonal.svg"></span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- List layout -->
    <div>
      <div class="row mt-5">
        <hr />
        <!-- Job Card 1 -->
        <div class="job-card-list mt-2">
          <div class="row">
            <div class="col-md-5 mt-4">
              <div class="job-title-list ">UI/UX Designer</div>
              <div class="d-flex align-items-center">
                <span class="job-location"><img src="{{ site.assetPath }}/assets/images/icons/24/location.svg" alt="Location Icon">
                  Singapore</span>
                <span class="job-type"><img src="{{ site.assetPath }}/assets/images/icons/24/time.svg" alt="Time Icon"> Full-time</span>
              </div>
            </div>
            <div class="col-md-7 mt-4 mb-4">
              <div class="job-description mb-4">
                You will design intuitive, user-friendly interfaces and experiences that align with our clients'
                goals.
                From wireframes to high-fidelity prototypes, you'll create visually engaging and functional digital
                products...
              </div>
              <button class="apply-now-btn">
                Apply now <span class="apply-now-btn-icon"><img src="{{ site.assetPath }}/assets/images/icons/24/Arrow Diagonal.svg"
                    alt="Arrow Icon"></span>
              </button>
            </div>
          </div>


        </div>
        <hr />
        <div class="job-card-list mt-2">
          <div class="row">
            <div class="col-md-5 mt-4">
              <div class="job-title-list ">UI/UX Designer</div>
              <div class="d-flex align-items-center">
                <span class="job-location"><img src="{{ site.assetPath }}/assets/images/icons/24/location.svg" alt="Location Icon">
                  Singapore</span>
                <span class="job-type"><img src="{{ site.assetPath }}/assets/images/icons/24/time.svg" alt="Time Icon"> Full-time</span>
              </div>
            </div>
            <div class="col-md-7 mt-4 mb-4">
              <div class="job-description mb-4">
                You will design intuitive, user-friendly interfaces and experiences that align with our clients'
                goals.
                From wireframes to high-fidelity prototypes, you'll create visually engaging and functional digital
                products...
              </div>
              <button class="apply-now-btn">
                Apply now <span class="apply-now-btn-icon"><img src="{{ site.assetPath }}/assets/images/icons/24/Arrow Diagonal.svg"
                    alt="Arrow Icon"></span>
              </button>
            </div>
          </div>
        </div>
        <hr />
        <div class="job-card-list mt-2">
          <div class="row">
            <div class="col-md-5 mt-4">
              <div class="job-title-list ">UI/UX Designer</div>
              <div class="d-flex align-items-center">
                <span class="job-location"><img src="{{ site.assetPath }}/assets/images/icons/24/location.svg" alt="Location Icon">
                  Singapore</span>
                <span class="job-type"><img src="{{ site.assetPath }}/assets/images/icons/24/time.svg" alt="Time Icon"> Full-time</span>
              </div>
            </div>
            <div class="col-md-7 mt-4 mb-4">
              <div class="job-description mb-4">
                You will design intuitive, user-friendly interfaces and experiences that align with our clients'
                goals.
                From wireframes to high-fidelity prototypes, you'll create visually engaging and functional digital
                products...
              </div>
              <button class="apply-now-btn">
                Apply now <span class="apply-now-btn-icon"><img src="{{ site.assetPath }}/assets/images/icons/24/Arrow Diagonal.svg"
                    alt="Arrow Icon"></span>
              </button>
            </div>
          </div>
        </div>
        <hr />
      </div>
      <!-- Pagination -->
      <div class="pagination-custom mt-5">
        <button class="pagination-arrow">&larr;</button>
        <button class="pagination-page active-page">1</button>
        <button class="pagination-page">2</button>
        <button class="pagination-page">3</button>
        <span>...</span>
        <button class="pagination-page">10</button>
        <button class="pagination-arrow">&rarr;</button>
      </div>

      <!-- Pagination Info -->
      <div class="pagination-info pb-5">
        Showing 9 of 40 results
      </div>

    </div>
</section>

<!-- Email us section -->
<section class="py-0">
  <div class="container-fluid email-us-section">
    <h1>Don’t see a role that fits?</h1>
    <p>We’re always on the lookout for exceptional talent. Send us your resume and let’s start a conversation.</p>
    <button class="apply-now-btn">
      Email us <span class="apply-now-btn-icon"><img src="{{ site.assetPath }}/assets/images/icons/24/Arrow Diagonal.svg" alt="Arrow Icon"></span>
    </button>
  </div>
</section>

<!-- FAQ  section -->
<section class="py-5 px-5 px-sm-5 faq-section">
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-4">
        <h2 class="faq-header mb-5 text-start">You've got questions, we've got<span> answers</span></h2>
      </div>
      <div class="col-md-8">
        <div class="accordion" id="faqAccordion">
          <!-- FAQ Item 1 -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <span class="muted-text">01</span> &nbsp; What’s the company culture like?
                <img src="{{ site.assetPath }}/assets/images/icons/24/Plus.svg" class="accordion-icon accordion-plus-icon" alt="Plus Icon">
                <img src="{{ site.assetPath }}/assets/images/icons/24/Minus.svg" class="accordion-icon accordion-minus-icon" alt="Minus Icon">
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                At Vertis, we thrive on creativity, collaboration, and pushing boundaries. We believe in fostering an
                environment where new ideas are welcomed, teamwork is valued, and professional growth is supported.
                Whether you’re a designer, developer, or strategist, you’ll be part of a team that challenges the
                status quo and delivers meaningful work.
              </div>
            </div>
            <hr />
          </div>

          <!-- FAQ Item 2 -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <span class="muted-text">02</span> &nbsp; What’s the hiring process like at Vertis?
                <img src="{{ site.assetPath }}/assets/images/icons/24/Plus.svg" class="accordion-icon accordion-plus-icon" alt="Plus Icon">
                <img src="{{ site.assetPath }}/assets/images/icons/24/Minus.svg" class="accordion-icon accordion-minus-icon" alt="Minus Icon">
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                At Vertis, we thrive on creativity, collaboration, and pushing boundaries. We believe in fostering an
                environment where new ideas are welcomed, teamwork is valued, and professional growth is supported.
                Whether you’re a designer, developer, or strategist, you’ll be part of a team that challenges the
                status quo and delivers meaningful work.
              </div>
            </div>
            <hr />
          </div>

          <!-- FAQ Item 3 -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <span class="muted-text">03</span> &nbsp; What growth opportunities are available?
                <img src="{{ site.assetPath }}/assets/images/icons/24/Plus.svg" class="accordion-icon accordion-plus-icon" alt="Plus Icon">
                <img src="{{ site.assetPath }}/assets/images/icons/24/Minus.svg" class="accordion-icon accordion-minus-icon" alt="Minus Icon">
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                At Vertis, we thrive on creativity, collaboration, and pushing boundaries. We believe in fostering an
                environment where new ideas are welcomed, teamwork is valued, and professional growth is supported.
                Whether you’re a designer, developer, or strategist, you’ll be part of a team that challenges the
                status quo and delivers meaningful work.
              </div>
            </div>
            <hr />
          </div>

          <!-- FAQ Item 4 -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <span class="muted-text">04</span> &nbsp; How can I stand out in my application?
                <img src="{{ site.assetPath }}/assets/images/icons/24/Plus.svg" class="accordion-icon accordion-plus-icon" alt="Plus Icon">
                <img src="{{ site.assetPath }}/assets/images/icons/24/Minus.svg" class="accordion-icon accordion-minus-icon" alt="Minus Icon">
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
              data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                At Vertis, we thrive on creativity, collaboration, and pushing boundaries. We believe in fostering an
                environment where new ideas are welcomed, teamwork is valued, and professional growth is supported.
                Whether you’re a designer, developer, or strategist, you’ll be part of a team that challenges the
                status quo and delivers meaningful work.
              </div>
            </div>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>