/* Top Section */
.individual-pillar-hero-section {

    .header-section {
        text-align: left;
        padding: 50px 20px;

        .header {
            font-size: 76px;
        }

        .sub-header {
            color: var(--Colours-Text-text-white, #FFF);
            text-align: center;
            font-family: var(--font-family-title, "Bricolage Grotesque");
            font-size: var(--font-size-H4, 24px);
            font-style: normal;
            font-weight: 400;
            line-height: var(--font-line-height-H4, 36px);
        }
    }

    .top-container {
        background: linear-gradient(90deg, #000, 90%, #7F6EF6);
        color: white;
    }

    .highlight-dot {
        color: #00ff99;
    }
}

.our-approach,
.our-methodology {
    .section-title {
        color: #242424;
        font-family: var(--font-family-title, "Bricolage Grotesque");
        font-size: var(--font-size-H2, 26px);
        font-style: normal;
        font-weight: 600;
        line-height: var(--font-line-height-H2, 44px);
    }

    .section-copy {
        color: #242424;
        font-family: var(--font-family-body, Inter);
        font-size: var(--font-size-P1, 14px);
        font-style: normal;
        font-weight: 400;
        line-height: var(--font-line-height-P1, 24px);
        letter-spacing: 0.32px;
    }
}

/* Client Section */
.section-content {
    padding: 50px;
    padding-top: 0px;
    border-radius: 15px;
}

.project-details {
    color: #00c800;
}

.project-details h5 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.project-details span {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 20px;
    color: white;
}

.scope-tags span {
    font-size: 1rem;
    padding-right: 15px;
}

.project-description {
    margin-top: 30px;
    line-height: 1.7;
}

.metric-label {
    font-size: 1rem;
    font-weight: 400;
    color: #666;
}

.display-4 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.row.text-left .col-md-4::before {
    content: "";
    display: block;
    height: 1px;
    background-color: #eaeaea;
    width: 100%;
    margin: 20px auto;
}

/* Our Approach  */

.methodology-step {
    margin-bottom: 2rem;
}

.step-number {
    color: #9c88ff;
    font-weight: bold;
    font-size: 1.25rem;
}

.step-title {
    font-weight: 600;
    font-size: 1.15rem;
}

.step-description {
    font-size: 1rem;
    color: #666;
}

/* Our core service */
.core-services {
    background-color: #242424;
    color: white;
}

.core-services h1 {
    font-size: 3rem;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 80px;
}

.core-services p.lead {
    font-size: 1.2rem;
}

.pill-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.pill {
    background-color: transparent;
    color: #7F6EF6;
    font-weight: 400;
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 1.2rem;
    border: 1px solid #7F6EF6;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.pill:hover {
    background-color: #7F6EF6;
    color: white;
    transform: scale(1.05);
}

/* Add rotation to individual pills */
/* Add horizontal translation to individual pills */
.pill:nth-child(1) {
    transform: rotate(6deg) translateX(130px);
    background-color: #7F6EF6;
    color: white;
    /* Move 10px to the right */
}

.pill:nth-child(1):hover {
    background-color: transparent;
    color: #7F6EF6;
}

.pill:nth-child(2) {
    transform: rotate(-3deg) translateX(-30px);
    /* Move 15px to the left */
}

.pill:nth-child(3) {
    transform: rotate(4deg) translateX(100px);
    /* Move 5px to the right */
}

.pill:nth-child(4) {
    transform: rotate(0deg) translateX(-50px);
    /* No movement */
}

.pill:nth-child(5) {
    transform: rotate(-3deg) translateX(-20px);
    /* Move 10px to the left */
}

.pill:nth-child(6) {
    transform: rotate(1deg) translateX(120px);
    /* Move 7px to the right */
}

.pill:nth-child(7) {
    transform: rotate(2deg) translateX(-5px);
    /* Move 5px to the left */
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .pill-container {
        align-items: left;
    }
}

/* Responsive adjustments for tablet and mobile screens */
@media (max-width: 768px) {
    .pill-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .pill {
        transform: none;
        margin: 10px;
    }

    .pill-container .pill:hover {
        transform: scale(1.05);
        /* Scale only on hover */
    }

    .pill:nth-child(1) {
        transform: rotate(0deg);
    }

    .pill:nth-child(2) {
        transform: rotate(0deg);
    }

    .pill:nth-child(3) {
        transform: rotate(0deg);
    }

    .pill:nth-child(4) {
        transform: rotate(0deg);
    }

    .pill:nth-child(5) {
        transform: rotate(0deg);
    }

    .pill:nth-child(6) {
        transform: rotate(0deg);
    }

    .pill:nth-child(7) {
        transform: rotate(0deg);
    }

    .core-services {
        background-color: #242424;
        color: white;
        padding: 10px;
    }
}

/* Partners Section */
.marquee-wrapper {
    overflow: hidden;
    position: relative;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.individual-pillar-marquee .marquee .header {
    color: var(--colours-text-text-primary-900, #242424);

    /* Heading 2/Semibold */
    font-family: var(--font-family-title, "Bricolage Grotesque");
    font-size: var(--font-size-H2, 32px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--font-line-height-H2, 44px);
    /* 122.222% */
}


/* Marquee Animation */
@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* Vertis Experiance Section */
.vertis-experience {

    .card {
        border: 1px solid var(--Colours-Border-border-primary, #242424);
        margin-bottom: 0;
        padding: 32px;
        border-radius: 0px;
    }


    .card-body {
        padding-left: 0px;
        padding-right: 0px;
    }

    .col-md-4 {
        padding: 0;
    }

    h2 {
        font-weight: bold;
        font-size: 2rem;
    }

    .card-text {
        color: #666666;
    }

    .view-more {
        color: black;
        text-decoration: none;
        font-weight: bold;
    }

    .view-more:hover {
        text-decoration: underline;
    }

    .badge {
        font-size: 0.85rem;
        padding: 0.5em 0.75em;
        font-weight: 500;
    }

    .view-all-btn {
        background: #1CE783;
        border: 1px solid black;
        color: black;
        padding: 10px 20px;
        border-radius: 25px;
        transition: 0.3s;
        display: inline-block;
        text-decoration: none;
        font-family: var(--font-family-title, "Bricolage Grotesque");
        font-size: var(--font-size-H5, 20px);
        font-style: normal;
        font-weight: 400;
        line-height: var(--font-line-height-H5, 32px);
        /* 133.333% */
    }

}