<!-- Footer -->
<footer class="footer">
  <div class="container-fluid" style="margin-left: 0px; margin-right: 0px">
    <div class="row">
      <div class="col-md-3 col-sm-3 footer-logo">
        <div class="footer-column">
          <img src="{{ site.assetPath }}/assets/images/logo/Vertis_Logo.svg" alt="Vertis Logo" style="padding-bottom: 110px" />
          <p>12 Keong Saik Rd<br />#02-00<br />Singapore 089119</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 footer-elements" style="padding-top: 50px; padding-bottom: 50px">
        <div class="footer-column">
          <h5>MENU</h5>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Work</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">News</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 footer-elements" style="padding-top: 50px">
        <div class="footer-column">
          <h5>IN THE LOOP</h5>
          <ul>
            <li><a href="#">LinkedIn</a></li>
            <li><a href="#">Case Studies</a></li>
            <li><a href="#">Press Releases</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 footer-elements" style="padding-top: 50px">
        <div class="footer-column">
          <h5>CAREERS</h5>
          <ul>
            <li><a href="#">Apply for a Job</a></li>
            <li><a href="#">Get in Touch</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Bottom Links -->
  <div class="footer-bottom d-flex align-items-center justify-content-between border-top border-dark">
    <div class="container-fluid">
      <div class="row text-center text-md-start">
        <div class="col-12 col-md-8 mb-0 mb-md-0 reach-us">
          <p class="m-2 ml-2">
            Reach us at
            <a href="mailto:info@vertis.digital">info@vertis.digital</a>
          </p>
        </div>

        <div class="col-12 col-md-1 footer-links d-flex justify-content-center justify-content-md-end">
          <a href="#" class="d-block w-100 text-center">Link 1</a>
        </div>
        <div class="col-12 col-md-1 footer-links d-flex justify-content-center justify-content-md-end">
          <a href="#" class="d-block w-100 text-center">Link 2</a>
        </div>
        <div class="col-12 col-md-1 footer-links d-flex justify-content-center justify-content-md-end">
          <a href="#" class="d-block w-100 text-center">Link 3</a>
        </div>
        <div class="col-12 col-md-1 footer-links up-arrow d-flex justify-content-center justify-content-md-end">

          <a href="#" class="back-to-top d-flex align-items-center justify-content-center d-block w-100">
            <img src="{{ site.assetPath }}/assets/images/Arrow-Up.svg" alt="Back to Top" style="width: 20px; height: 20px" />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- End -->
