/* Testimonial Section */
/* Mobile Styles */
@media (max-width: 767px) {
    .testimonials-section.testimonials-dark {
        display: flex;
        padding: var(--spacing-12, 80px) var(--spacing-11, 60px);
        flex-direction: column;
        align-items: flex-end;
        gap: var(--spacing-0, 0px);
        background: var(--Colours-Background-bg-tertiary, #242424);
    }

    .testimonials-dark .testimonial-description {
        color: var(--Colours-Text-text-white, #FFF);

        /* Heading 4/Regular */
        font-family: var(--font-family-title, "BricolageGrotesque");
        font-size: var(--font-size-H4, 28px);
        font-style: normal;
        font-weight: 400;
        line-height: var(--font-line-height-H4, 36px);
        /* 128.571% */
    }
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 991px) {
    .testimonials-section.testimonials-dark {
        display: flex;
        padding: var(--spacing-12, 80px) var(--spacing-11, 60px);
        flex-direction: column;
        align-items: flex-end;
        gap: var(--spacing-0, 0px);
        background: var(--Colours-Background-bg-tertiary, #242424);
    }

    .testimonials-dark .testimonial-description {
        color: var(--Colours-Text-text-white, #FFF);
        // font-family: var(--font-family-title, "BricolageGrotesque");
        font-family: 'BricolageGrotesque', sans-serif;
        font-size: var(--font-size-H3, 32px);
        font-style: normal;
        font-weight: 400;
        line-height: var(--font-line-height-H3, 40px);
        /* 125% */
    }
}

/* Desktop Styles */
@media (min-width: 992px) {
    .testimonials-section.testimonials-dark {
        display: flex;
        padding: var(--spacing-12, 80px) var(--spacing-11, 60px);
        flex-direction: column;
        align-items: flex-end;
        gap: var(--spacing-0, 0px);
        background: var(--Colours-Background-bg-tertiary, #242424);
    }

    .testimonials-dark .testimonial-description {
        color: var(--Colours-Text-text-white, #FFF);
        font-family: var(--font-family-title, "BricolageGrotesque");
        //font-family: 'BricolageGrotesque', sans-serif;
        font-size: var(--font-size-H2, 36px);
        font-style: normal;
        font-weight: 400;
        line-height: var(--font-line-height-H2, 44px);
        /* 122.222% */
    }
}

@media (max-width: 768px) {

    .testimonials-section.testimonials-dark {
        padding: 70px 30px;
    }
}

.testimonials-dark .testimonial-slider-wrapper {
    overflow: hidden;
    position: relative;
}

.testimonials-dark .testimonial-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.testimonials-dark .testimonial-card {
    background: white;
    color: black;
    padding: 20px;
    margin: 10px;
    border-radius: 0px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    min-width: 31%;
    min-height: 400px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .testimonials-dark .testimonial-card {
        min-width: 50%;
    }
}

@media (max-width: 576px) {
    .testimonials-dark .testimonial-card {
        min-width: 80%;
    }
}

.testimonials-dark .testimonial-text {
    font-size: 16px;
    line-height: 1.5;
}

.testimonials-dark .testimonial-author {
    font-weight: bold;
    margin-top: 15px;
}

.testimonials-dark .testimonial-role {
    font-size: 14px;
    color: gray;
}

.testimonials-dark .nav-buttons {
    display: flex;
    gap: 10px;
    padding-top: 100px;
}

@media (max-width: 768px) {
    .testimonials-dark .nav-buttons {
        padding-left: 10px;
    }
}

.testimonials-dark .nav-button {
    background: #00ff6a;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: black;
    cursor: pointer;
    transition: 0.3s;
}

.testimonials-dark .nav-button:hover {
    background: white;
    color: black;
}

.testimonials-dark .nav-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.testimonials-dark .quote-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 40px;
    margin-bottom: 10px;
}

.testimonials-dark .quote-icon img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 0%;
}