header {
  .navbar {
    background-color: white;
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: -0.5rem;
    --bs-navbar-color: rgba(var(--bs-emphasis-color-rgb), 0.65);
    --bs-navbar-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.8);
    --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
    --bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-brand-padding-y: -0.6875rem;
    --bs-navbar-brand-margin-end: 0rem;
    --bs-navbar-brand-font-size: 1.25rem;
    --bs-navbar-brand-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-brand-hover-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-nav-link-padding-x: 0.5rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.75rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvgxmlns="http://www.w3.org/2000/svg"viewBox="0 0 30 30"%3e%3cpathstroke="rgba%2833,37,41,0.75%29"stroke-linecap="round"stroke-miterlimit="10"stroke-width="2"d="M4 7h22M4 15h22M4 23h22"/%3e%3c/svg%3e);
    --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15);
    --bs-navbar-toggler-border-radius: 0.375rem;
    --bs-navbar-toggler-focus-width: 0.25rem;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .navbar .container-fluid {
    background-color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 0;
    display: flex;
    position: relative;
  }

  .navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 1.5rem;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .navbar-nav .nav-link {
    color: var(--colours-text-text-primary-900, #242424);
    font-family: var(--font-family-body, Inter);
    font-size: var(--font-size-P1, 16px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--font-line-height-P1, 24px);
    letter-spacing: 0.32px;
    margin: 0 30px;
    position: relative;

    &:hover {
      color: #1CE783;
    }

    &:last-child::after {
      content: "";
    }
  }

  .navbar-brand {
    padding-bottom: 10px;

    img {
      height: 40px;
      padding: 5px 40px 0 30px;
    }
  }

  .navbar-toggler {
    border-radius: 0;
    border-width: 0;
    padding: 10px 12px;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  .btn-success {
    background-color: #00ff81;
    color: #000;
    border: 1px solid black;
    padding: 10px 20px;
  }

  .border-start,
  .border-start-nav {
    border-left: var(--bs-border-width) var(--bs-border-style) #1e1e1e !important;
  }

  .ms-3 {
    margin-left: 1rem !important;
    margin-right: 0 !important;
  }

  .mx-3 {
    margin-right: 1rem !important;
    margin-left: 3rem !important;
  }

  .me-2 {
    margin-right: 0 !important;
  }

  .full-width-dropdown {
    width: 100vw;
    left: 0;
    right: 0;
    background-color: white;
    padding: 20px;
    border-radius: 0;
    display: none;
    position: absolute;
    top: 100%;
    z-index: 1000;
  }

  .nav-item.dropdown:hover .full-width-dropdown {
    display: block;
  }

  .dropdown-content {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .dropdown-column {
    width: 20%;

    h6 {
      font-weight: bold;
      margin-bottom: 10px;

      a {
        font-weight: 400;
        text-decoration: none;

        &:hover {
          font-weight: 400;
        }
      }
    }

    a {
      display: block;
      color: black;
      padding: 5px 0;
      text-decoration: none;

      &:hover {
        color: #28a745;
      }
    }
  }

  .dropdown-column-sublinks {
    margin-left: 10px;
  }

  .dropdown-footer {
    text-align: left;
    margin: 20px 0 0 20px;

    .btn {
      background-color: #1CE783;
      color: black;
      border: 1px solid black;
      padding: 10px 20px;
      border-radius: 25px;
    }
  }

  .highlight-dot {
    color: #00ff99;
  }

  .nav-item.careers-link {
    padding-left: 15px;
  }

  /* ======================= */
  /* MEDIA QUERIES */
  /* ======================= */

  @media (max-width: 991px) {

    li.nav-item.dropdown a#vertisGroupDropdown {
      position: relative;

      img {
        position: absolute;
        right: 0;
      }
    }

    .border-start-nav {
      border-left: none !important;
    }

    .navbar-nav .nav-item {
      border-top: 1px solid #C1C1C1;
      padding: 0;
    }

    .navbar-nav .nav-item:first-child {
      border-top: 1px solid #000000;
    }

    .navbar-nav .nav-item:last-child {
      border-bottom: none;
    }

    .dropdown-content {
      flex-direction: column;
    }

    .dropdown-column {
      flex: 1 1 100%;
      margin-bottom: 1rem;
    }

    .dropdown-column-sublinks,
    .dropdown-footer {
      display: none !important;
    }
  }

  @media (max-width: 768px) {
    .dropdown-menu {
      border: none !important;
    }

    .dropdown-column {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;

      h6 {
        display: inline-block;
        white-space: nowrap;
        margin-bottom: 0;

        a {
          font-size: 18px;
          font-weight: 400;
          padding-left: 10px;
        }
      }
    }

    .footer-elements,
    .footer-logo {
      padding-left: 3rem !important;
      padding-right: 3rem !important;
    }
  }

  @media (min-width: 992px) {
    .navbar .container-fluid {
      display: flex;
      flex-wrap: nowrap;
    }

    .dropdown-content {
      flex-direction: row;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 0;
      padding-left: 0;
    }

    .nav-item.careers-link {
      padding-left: 15px;
    }
  }

  @media (min-width: 992px) and (max-width: 1150px) {
    .navbar-nav .nav-link {
      font-size: 14px;
    }
  }
}