<!DOCTYPE html>
<html lang="{{ meta.lang or site.lang }}">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ site.title }} - {{ title or meta.title }}</title>

  <link rel="stylesheet" href="{{ '/dist/app.css' | url }}" />
  {# <link href="https://mc-9c4845de-cb86-4d2c-8783-4342-cd.azurewebsites.net/assets/project/abcl/corp/main.css?v=1.0" rel="stylesheet"/> #}
  <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
  {# <link rel="stylesheet" href="/assets/fontawesome/css/fontawesome.css" />
  <link rel="stylesheet" href="/assets/fontawesome/css/brands.css" />
  <link rel="stylesheet" href="/assets/fontawesome/css/solid.css" /> #}
  {# <link href="/assets/font/stylesheet.css" rel="stylesheet"> #}
  {% include "components/meta.njk" %}
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  {# <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T3LGK6C" height="0" width="0"
      style="display: none; visibility: hidden"></iframe>
  </noscript> #}
  <!-- End Google Tag Manager (noscript) -->
  
    {% include "components/header/header.html" %}

    <main id="main">
      {{ content | safe }}
    </main>

    <!-- Modal -->
    
    {% include "components/footer/footer.html" %}
  

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

  <script type="text/javascript" src="{{ '/dist/app.js' | url }}"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>


  {# <script>
    function modal_visibility(id) {
      const myModal = new bootstrap.Modal(document.getElementById(id));
      myModal.show();
    }
  </script> #}
  
</body>

</html>
