/* Mobile Styles */
@media (max-width: 767px) {
    .awards-section {
        display: flex;
        padding: var(--spacing-9, 40px) var(--spacing-5, 20px);
        flex-direction: column;
        align-items: flex-end;
        gap: var(--spacing-0, 0px);
    }

    .award-description {
        color: var(--colours-text-text-primary-900, #242424);
        font-family: var(--font-family-title, "BricolageGrotesque");
        font-size: var(--font-size-H4, 28px);
        font-style: normal;
        font-weight: 400;
        line-height: var(--font-line-height-H4, 36px);
    }
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 991px) {
    .awards-section {
        display: flex;
        padding: var(--spacing-11, 60px) var(--spacing-9, 40px);
        flex-direction: column;
        align-items: flex-end;
        gap: var(--spacing-0, 0px);
    }

    .award-description {
        color: var(--colours-text-text-primary-900, #242424);

        /* Heading 3/Regular */
        font-family: var(--font-family-title, "BricolageGrotesque");
        font-size: var(--font-size-H3, 32px);
        font-style: normal;
        font-weight: 400;
        line-height: var(--font-line-height-H3, 40px);
        /* 125% */
    }
}

/* Desktop Styles */
@media (min-width: 992px) {
    .awards-section {
        display: flex;
        padding: var(--spacing-12, 80px) var(--spacing-11, 60px);
        flex-direction: column;
        align-items: flex-end;
        gap: var(--spacing-0, 0px);
        background: var(--Colours-Background-bg-primary, #FFF);
    }

    .award-description {
        color: var(--colours-text-text-primary-900, #242424);
        font-family: var(--font-family-title, "BricolageGrotesque");
        font-size: var(--font-size-H2, 36px);
        font-style: normal;
        font-weight: 400;
        line-height: var(--font-line-height-H2, 44px);
        /* 122.222% */
    }
}

.award-item {
    padding: var(--spacing-9, 40px) 0px;
    flex-direction: column;
}

.award-year {
    color: var(--colours-text-text-secondary-600, #797979);
    font-family: var(--font-family-body, inter);
    font-size: var(--font-size-P1, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--font-line-height-P1, 24px);
    /* 150% */
    letter-spacing: 0.32px;
}

.award-title {
    color: var(--colours-text-text-primary-900, #242424);
    font-family: var(--font-family-title, "BricolageGrotesque");
    font-size: var(--font-size-H4, 28px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--font-line-height-H4, 36px);
    /* 128.571% */
}

.award-web {
    color: var(--colours-text-text-secondary-600, #797979);
    font-family: var(--font-family-body, inter);
    font-size: var(--font-size-P1, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--font-line-height-P1, 24px);
    /* 150% */
    letter-spacing: 0.32px;
}

@media (max-width: 768px) {
    .award-item {
        font-size: 0.9rem;
    }
}