/* Mobile Styles */
@media (max-width: 767px) {
    .our-people-section {
        display: flex;
        padding: var(--radius-4xl, 40px) var(--spacing-5, 20px);
        flex-direction: column;
        align-items: flex-start;
        background: var(--Colours-Background-bg-secondary, #F0F0F0);
    }
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 991px) {
    .our-people-section {
        display: flex;
        padding: var(--spacing-11, 60px) var(--spacing-9, 40px);
        flex-direction: column;
        align-items: flex-start;
        background: var(--Colours-Background-bg-secondary, #F0F0F0);
    }
}

/* Desktop Styles */
@media (min-width: 992px) {
    .our-people-section {
        display: flex;
        padding: var(--spacing-12, 80px) var(--spacing-11, 60px);
        flex-direction: column;
        align-items: flex-start;
        gap: var(--spacing-12, 80px);
        align-self: stretch;
        background: var(--Colours-Background-bg-secondary, #F0F0F0);
    }


}

.heading-black {
    color: var(--colours-text-text-primary-900, #242424);
    font-family: var(--font-family-title, "BricolageGrotesque");
    font-size: var(--font-size-H2, 36px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--font-line-height-H2, 44px);
}

.heading-number {
    color: var(--colours-text-text-secondary-600, #A2A2A2);
    font-family: var(--font-family-body, inter);
    font-size: var(--font-size-P1, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--font-line-height-P1, 24px);

    letter-spacing: 0.32px;
}

.lead-description {
    color: var(--colours-text-text-primary-900, #242424);
    font-family: var(--font-family-body, inter);
    font-size: var(--font-size-P1, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--font-line-height-P1, 24px);
    /* 150% */
    letter-spacing: 0.32px;
}

.our-people-section .people-card {
    background-color: #ffffff;
    color: #000000;
    transition: all 0.3s ease-in-out;
    border-radius: 0px;
    transform: rotate(0deg) skew(0deg);
    display: flex;
    width: 315px;
    padding: var(--spacing-6, 24px);
    min-height: 400px;
    align-items: flex-start;
    border: 1px solid var(--Colours-Border-border-primary, #242424);
    background: var(--Colours-Background-bg-primary, #FFF);
    flex-direction: row;
}

.our-people-section .row.d-none.d-xl-flex .people-card {
    width: 100%;
    height: 100%;
}

.our-people-section .people-card .card-body {
    width: 100%;
}

.people-card:hover {
    background-color: #000000;
    color: #ffffff;
    transform: translateX(20px) translateY(10px) rotate(10deg);
    box-shadow:
        -50px -100px 0px 4px rgba(0, 0, 0, 0.221),
        18px -8px 30px rgba(0, 0, 0, 0.221);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.people-card:hover .card-title,
.people-card:hover .card-subtitle,
.people-card:hover .card-text {
    color: #ffffff;
}

.linkedin-icon {
    display: inline-block;
    margin-top: 1rem;
    padding-bottom: 30px;
}

.card-title {
    color: var(--colours-text-text-primary-900, #242424);
    font-family: var(--font-family-title, "BricolageGrotesque");
    font-size: var(--font-size-H5, 24px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--font-line-height-H5, 32px);
    /* 133.333% */
}

.card-text {
    color: var(--colours-text-text-primary-900, #242424);
    font-family: var(--font-family-body, inter);
    font-size: var(--font-size-P1, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--font-line-height-P1, 24px);
    /* 150% */
    letter-spacing: 0.32px;
}

.card-subtitle {
    color: var(--colours-text-text-secondary-600, #797979);
    font-family: var(--font-family-title, "BricolageGrotesque");
    font-size: var(--font-size-H6, 20px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--font-line-height-H6, 28px);
    /* 140% */
    letter-spacing: 0.8px;
}


@media (max-width: 768px) {
    .col-md-4 {
        margin-bottom: 20px;
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 315px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide {
    width: 80%;
}

.swiper-slide:nth-child(2n) {
    width: 60%;
}

.swiper-slide:nth-child(3n) {
    width: 40%;
}