/* Mobile Styles */
@media (max-width: 767px) {
    .gallery-section {
        display: flex;
        padding: var(--spacing-9, 40px) var(--spacing-5, 20px);
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        background: var(--Colours-Background-bg-secondary, #F0F0F0);
    }
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 991px) {
    .gallery-section {
        display: flex;
        padding: var(--spacing-9, 40px);
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        background: var(--Colours-Background-bg-secondary, #F0F0F0);
    }
}

/* Desktop Styles */
@media (min-width: 992px) {
    .gallery-section {
        display: flex;
        padding: var(--spacing-11, 60px);
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        background: var(--Colours-Background-bg-secondary, #F0F0F0);
    }
}