/* Works Section */

/* Mobile Styles */
@media (max-width: 767px) {
    .works-section {
        display: flex;
        padding: var(--spacing-9, 40px) var(--spacing-5, 20px);
        flex-direction: column;
        align-items: flex-end;
        gap: var(--spacing-12, 80px);
        align-self: stretch;
    }

    .works-description {
        color: var(--colours-text-text-primary-900, #242424);

        /* Heading 3/Regular */
        font-size: var(--font-size-H3, 32px);
        font-style: normal;
        font-weight: 400;
        line-height: var(--font-line-height-H3, 40px);
        /* 125% */
    }
    .project-card {
        position: relative;
        height: 250px;
        overflow: hidden;
        color: white;
        display: flex;
        padding: var(--spacing-12, 80px) var(--spacing-11, 60px);
        flex-direction: column;
        align-items: flex-end;
        align-self: stretch;
        padding-left: 0;
    }
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 991px) {
    .works-section {
        display: flex;
        padding: var(--spacing-11, 60px) var(--spacing-9, 40px);
        flex-direction: column;
        align-items: flex-end;
        gap: var(--spacing-12, 80px);
        align-self: stretch;
    }

    .works-description {
        color: var(--colours-text-text-primary-900, #242424);

        /* Heading 3/Regular */
        font-size: var(--font-size-H3, 32px);
        font-style: normal;
        font-weight: 400;
        line-height: var(--font-line-height-H3, 40px);
        /* 125% */
    }
    .project-card {
        position: relative;
        height: 350px;
        overflow: hidden;
        color: white;
        display: flex;
        padding: var(--spacing-12, 80px) var(--spacing-11, 60px);
        flex-direction: column;
        align-items: flex-end;
        align-self: stretch;
        padding-left: 0;
    }
}

/* Desktop Styles */
@media (min-width: 992px) {
    .works-section {
        display: flex;
        padding: var(--spacing-12, 80px) var(--spacing-11, 60px);
        flex-direction: column;
        align-items: flex-end;
        gap: var(--spacing-12, 80px);
        align-self: stretch;
    }

    .works-description {
        color: var(--colours-text-text-primary-900, #242424);

        /* Heading 2/Regular */
        font-size: var(--font-size-H2, 36px);
        font-style: normal;
        font-weight: 400;
        line-height: var(--font-line-height-H2, 44px);
        /* 122.222% */
    }
    .project-card {
        position: relative;
        height: 400px;
        overflow: hidden;
        color: white;
        display: flex;
        padding: var(--spacing-12, 80px) var(--spacing-11, 0px);
        flex-direction: column;
        align-items: flex-end;
        align-self: stretch;
        padding-left: 0;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.project-content {
    position: absolute;
    top: 60px;
    left: 0px;
    z-index: 2;
    color: var(--Base-white, #FFF);
    /* Paragraph 1/Regular */
    font-family: 'Inter', sans-serif;
    font-size: var(--font-size-P1, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--font-line-height-P1, 24px);
    /* 150% */
    letter-spacing: 0.32px;
}

.project-content .stroke {
    stroke-width: 1.5px;
    stroke: var(--Colours-Border-border-secondary, #A2A2A2);
    opacity: 0.6;
    width: 0px;
    height: 20px;
}


@media (max-width: 768px) {
    .project-content {
        left: 30px;
    }
}


.black-border-button {
    background: transparent;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding: 5px 5px;
    font-size: 18px;
    font-weight: 300;
    border-radius: 25px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 60px;
    line-height: 0px;
}

.black-border-button img {
    height: 30px;
    width: 30px;
}

.black-border-button span {
    margin-left: 10px;
}

.black-border-button:hover {
    background: transparent;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}